*.pyc
.ipynb_checkpoints
*/.ipynb_checkpoints/*
build/
dist/
*.egg-info
stlearn/static/*
uploads/spatial
uploads/filtered_feature_bc_matrix.h5
uploads/*.h5ad
temp_plots/
temp_tiling/
temp_tiling/
temp_plots/*
temp_plots/
temp_tiling/
tiling/
.DS_Store
uploads/*
temp_plots/
temp_tiling/
tiling/
